@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');

html{
    height: 100%;
    font-family: 'Roboto', sans-serif;    
    font-weight: regular;
}

body{
    height: 100%;
    background-color: whitesmoke;
    margin: 0;
    background-image: url("/resources/background3.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

h2{
    font-weight:normal;
}
h3{
    font-weight: 400;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
}

.empty{
    flex-grow: 1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,212,255,0.12088585434173671) 0%, rgba(0,212,255,0.053658963585434205) 100%);
    padding: 5px;
    margin: 0px;
}

#logo{
    margin: 0;
    padding: 10px;
    font-weight: 500;
}

#name{
    margin: 0;
    padding: 10px;
    font-weight: 100;

}

.scoreboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
    margin-top: 60px;
    padding-top: 20px;
    backdrop-filter: blur(19px) saturate(144%);
    -webkit-backdrop-filter: blur(19px) saturate(144%);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5;
}

.score .score-counter{
    font-size: 4em;
    font-weight: 400;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    margin: 10px;
}

.player-section{
    padding: 20px;
}

.score p{
    font-weight: 200;
    font-size: 1.5em;
}

.computer-section{
    padding: 20px;
}

.user-control{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    backdrop-filter: blur(19px) saturate(144%);
    -webkit-backdrop-filter: blur(19px) saturate(144%);
    background-color: rgba(255, 255, 255, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

button{
    height: 100px;
    width: 100px;
    font-size: 15pt;
    margin: 10px;
    border-radius: 100%;
    transition-duration: 0.4s;
    background-color: #62d2bf;
    border: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

button:hover{
    background: grey;
    background-color: #67ebdb; /* Green */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

button img{
    max-width: 100%;
    height: auto;
}

.scoreImage{
    width: 100px;
    height: auto;
}

.winner{
    font-weight: 500;
    font-size: 1.8em;
    font-style: italic;
    margin: 0;
}

#lastWinnerHeading{
    font-size: 2.3em;
    margin-top: 10px;
}
